In [1]:
import pandas as pd
import os

In [90]:
def get_median_income(filename: str, df: pd.DataFrame):
    col = df.iloc[3:9][['Label (Grouping)', 'United States!!Median income (dollars)!!Estimate']].reset_index(drop=True)
    col.rename(columns={'United States!!Median income (dollars)!!Estimate': int(filename[7:11])}, inplace=True)
    return col

In [91]:
def load_income_files(path: str):
    df_list = []
    files = os.listdir(path)
    for file in files:
        if file.endswith('.csv'):
            file_path = os.path.join(path, file)
            df = pd.read_csv(file_path, index_col=None)
            reduced = get_median_income(file, df)
            if not df_list:
                df_list.append(reduced)
            else:
                df_list.append(reduced.drop('Label (Grouping)', axis=1))
    
    return df_list

In [92]:
dl = load_income_files('./S1903_2010-2022')

In [94]:
output = pd.concat(dl, axis=1)

In [95]:
output

,Label (Grouping),2010,2022,2016,2014,2015,2012,2013,2018,2021,2011,2017,2019
0,White,"52,480","79,933","61,349","57,355","59,698","54,729","55,867","65,902","74,932","53,444","63,704","69,823"
1,Black or African American,"33,578","51,374","38,555","35,481","36,544","33,764","34,815","41,511","46,774","33,223","40,232","43,862"
2,American Indian and Alaska Native,"35,062","58,082","39,719","37,227","38,530","35,310","36,641","44,772","53,149","35,192","41,882","45,476"
3,Asian,"67,022","106,954","80,720","74,105","77,368","70,644","72,472","87,243","100,572","67,885","83,456","93,759"
4,Native Hawaiian and Other Pacific Islander,"52,776","72,411","57,112","52,815","55,607","51,322","50,591","61,911","69,973","49,378","60,734","66,464"
5,Some other race,"38,230","63,290","44,798","40,865","42,461","38,439","39,346","48,983","57,671","37,172","47,219","53,097"

In [96]:
output = pd.concat([output.iloc[:,0], output[sorted(output.iloc[:, 1:].columns, key=int)]], axis=1)

In [97]:
output

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,"52,480","53,444","54,729","55,867","57,355","59,698","61,349","63,704","65,902","69,823","74,932","79,933"
1,Black or African American,"33,578","33,223","33,764","34,815","35,481","36,544","38,555","40,232","41,511","43,862","46,774","51,374"
2,American Indian and Alaska Native,"35,062","35,192","35,310","36,641","37,227","38,530","39,719","41,882","44,772","45,476","53,149","58,082"
3,Asian,"67,022","67,885","70,644","72,472","74,105","77,368","80,720","83,456","87,243","93,759","100,572","106,954"
4,Native Hawaiian and Other Pacific Islander,"52,776","49,378","51,322","50,591","52,815","55,607","57,112","60,734","61,911","66,464","69,973","72,411"
5,Some other race,"38,230","37,172","38,439","39,346","40,865","42,461","44,798","47,219","48,983","53,097","57,671","63,290"

In [98]:
output

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,"52,480","53,444","54,729","55,867","57,355","59,698","61,349","63,704","65,902","69,823","74,932","79,933"
1,Black or African American,"33,578","33,223","33,764","34,815","35,481","36,544","38,555","40,232","41,511","43,862","46,774","51,374"
2,American Indian and Alaska Native,"35,062","35,192","35,310","36,641","37,227","38,530","39,719","41,882","44,772","45,476","53,149","58,082"
3,Asian,"67,022","67,885","70,644","72,472","74,105","77,368","80,720","83,456","87,243","93,759","100,572","106,954"
4,Native Hawaiian and Other Pacific Islander,"52,776","49,378","51,322","50,591","52,815","55,607","57,112","60,734","61,911","66,464","69,973","72,411"
5,Some other race,"38,230","37,172","38,439","39,346","40,865","42,461","44,798","47,219","48,983","53,097","57,671","63,290"

In [99]:
output.to_csv('median_income_over_years.csv', index=False)

In [2]:
def get_population(filename: str, df: pd.DataFrame):
    col = df.iloc[66:72][['Label (Grouping)', 'United States!!Estimate']].reset_index(drop=True)
    col.rename(columns={'United States!!Estimate': int(filename[7:11])}, inplace=True)
    return col

In [3]:
def load_population_files(path: str):
    df_list = []
    files = os.listdir(path)
    for file in files:
        if file.endswith('.csv'):
            file_path = os.path.join(path, file)
            df = pd.read_csv(file_path, index_col=None)
            reduced = get_population(file, df)
            if not df_list:
                df_list.append(reduced)
            else:
                df_list.append(reduced.drop('Label (Grouping)', axis=1))
    
    return df_list

In [4]:
pop = load_population_files('./DP05_2010-2022')

In [5]:
pop[1]

          2016
0   18,049,903
1          NaN
2  323,127,515
3   57,398,719
4   36,255,589
5    5,450,472

In [6]:
pop_output = pd.concat(pop, axis=1)

In [7]:
pop_output

,Label (Grouping),2019,2016,2021,2011,2015,2017,2013,2014,2010,2018,2022,2012
0,White,"246,234,076","18,049,903","241,836,150","16,396,503","17,051,509","244,691,364","16,474,381","16,703,187","16,534,492","245,860,228",NaN,"16,232,503"
1,Black or African American,"46,713,850",NaN,"47,234,227",NaN,NaN,"45,789,188",NaN,NaN,NaN,"46,261,485","333,287,562",NaN
2,American Indian and Alaska Native,"5,665,200","323,127,515","8,750,904","311,591,919","321,418,821","5,631,945","316,128,839","318,857,056","309,349,689","5,710,410","241,650,046","313,914,040"
3,Asian,"22,371,683","57,398,719","23,545,238","51,939,916","56,496,122","21,646,070","53,986,412","55,279,452","50,740,089","22,137,269","47,859,760","52,961,017"
4,Native Hawaiian and Other Pacific Isla...,"1,438,818","36,255,589","1,541,118","33,557,922","35,797,080","1,407,096","34,586,088","35,320,579","32,929,683","1,468,239","8,551,272","34,038,599"
5,Some other race,"18,214,244","5,450,472","53,868,002","4,885,294","5,372,759","18,346,638","5,138,109","5,266,738","4,691,890","18,146,776","24,207,047","4,970,604"

In [8]:
pop_output = pd.concat([pop_output.iloc[:,0], pop_output[sorted(pop_output.iloc[:, 1:].columns, key=int)]], axis=1)

In [9]:
pop_output

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,"16,534,492","16,396,503","16,232,503","16,474,381","16,703,187","17,051,509","18,049,903","244,691,364","245,860,228","246,234,076","241,836,150",NaN
1,Black or African American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"45,789,188","46,261,485","46,713,850","47,234,227","333,287,562"
2,American Indian and Alaska Native,"309,349,689","311,591,919","313,914,040","316,128,839","318,857,056","321,418,821","323,127,515","5,631,945","5,710,410","5,665,200","8,750,904","241,650,046"
3,Asian,"50,740,089","51,939,916","52,961,017","53,986,412","55,279,452","56,496,122","57,398,719","21,646,070","22,137,269","22,371,683","23,545,238","47,859,760"
4,Native Hawaiian and Other Pacific Isla...,"32,929,683","33,557,922","34,038,599","34,586,088","35,320,579","35,797,080","36,255,589","1,407,096","1,468,239","1,438,818","1,541,118","8,551,272"
5,Some other race,"4,691,890","4,885,294","4,970,604","5,138,109","5,266,738","5,372,759","5,450,472","18,346,638","18,146,776","18,214,244","53,868,002","24,207,047"

In [10]:
pop_output.to_csv('population_races_over_years.csv', index=False)