In [2]:
import pandas as pd

## Load CPI data

In [2]:
# https://data.bls.gov/pdq/SurveyOutputServlet

cpi = pd.read_excel('SeriesReport-20231130004030_af192c.xlsx')

/home/yao/miniconda3/envs/vis/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
cpi

,Consumer Price Index for All Urban Consumers (CPI-U),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,CUUR0000SA0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Not Seasonally Adjusted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Series Title:,"All items in U.S. city average, all urban cons...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Area:,U.S. city average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Item:,All items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Base Period:,1982-84=100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Years:,2010 to 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
11,2010,216.687,216.741,217.631,218.009,218.178,217.965,218.011,218.312,218.439,218.711,218.803,219.179,218.056,217.535,218.576
12,2011,220.223,221.309,223.467,224.906,225.964,225.722,225.922,226.545,226.889,226.421,226.23,225.672,224.939,223.598,226.28
13,2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601,229.594,228.85,230.338
14,2013,230.28,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049,232.957,232.366,233.548
15,2014,233.916,234.781,236.293,237.072,237.9,238.343,238.25,237.852,238.031,237.433,236.151,234.812,236.736,236.384,237.088
16,2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525,237.017,236.265,237.769
17,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,240.007,238.778,241.237
18,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,245.12,244.076,246.163
19,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.107,250.089,252.125
20,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,255.657,254.412,256.903
21,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.28,260.388,260.229,260.474,258.811,257.557,260.065
22,2021,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.31,276.589,277.948,278.802,270.97,266.236,275.703
23,2022,281.148,283.716,287.504,289.109,292.296,296.311,296.276,296.171,296.808,298.012,297.711,296.797,292.655,288.347,296.963

In [4]:
cpi_u = cpi.iloc[10:,[0,-3]].reset_index(drop=True)

In [5]:
cpi_u

   Consumer Price Index for All Urban Consumers (CPI-U) Unnamed: 13
0                                                Year        Annual
1                                                2010       218.056
2                                                2011       224.939
3                                                2012       229.594
4                                                2013       232.957
5                                                2014       236.736
6                                                2015       237.017
7                                                2016       240.007
8                                                2017        245.12
9                                                2018       251.107
10                                               2019       255.657
11                                               2020       258.811
12                                               2021        270.97
13                                               2022       292.655

In [6]:
cpi_u = cpi_u.drop([0, 11]).reset_index(drop=True)

In [7]:
cpi_u

   Consumer Price Index for All Urban Consumers (CPI-U) Unnamed: 13
0                                                2010       218.056
1                                                2011       224.939
2                                                2012       229.594
3                                                2013       232.957
4                                                2014       236.736
5                                                2015       237.017
6                                                2016       240.007
7                                                2017        245.12
8                                                2018       251.107
9                                                2019       255.657
10                                               2021        270.97
11                                               2022       292.655

In [8]:
cpi_u['Year'] = cpi_u['Consumer Price Index for All Urban Consumers (CPI-U)']
cpi_u['CPI-U'] = cpi_u['Unnamed: 13']

In [9]:
cpi_u = cpi_u.iloc[:, 2:]

In [10]:
cpi_u

    Year    CPI-U
0   2010  218.056
1   2011  224.939
2   2012  229.594
3   2013  232.957
4   2014  236.736
5   2015  237.017
6   2016  240.007
7   2017   245.12
8   2018  251.107
9   2019  255.657
10  2021   270.97
11  2022  292.655

In [11]:
cpi_u['inflation_factor'] = cpi_u['CPI-U'].iloc[0] / cpi_u['CPI-U']

In [12]:
cpi_u

    Year    CPI-U inflation_factor
0   2010  218.056              1.0
1   2011  224.939         0.969401
2   2012  229.594         0.949746
3   2013  232.957         0.936035
4   2014  236.736         0.921094
5   2015  237.017         0.920002
6   2016  240.007          0.90854
7   2017   245.12         0.889589
8   2018  251.107         0.868379
9   2019  255.657         0.852924
10  2021   270.97         0.804724
11  2022  292.655         0.745096

In [13]:
cpi_u.to_csv('cpi-u.csv', index=False)

## Load median income data

In [14]:
median_income = pd.read_csv('./median_income_over_years.csv')
median_income.iloc[:,1:] = median_income.iloc[:,1:].applymap(lambda x: int(x.replace(',', '')))

/tmp/ipykernel_36769/3661190981.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  median_income.iloc[:,1:] = median_income.iloc[:,1:].applymap(lambda x: int(x.replace(',', '')))

In [15]:
median_income

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,52480,53444,54729,55867,57355,59698,61349,63704,65902,69823,74932,79933
1,Black or African American,33578,33223,33764,34815,35481,36544,38555,40232,41511,43862,46774,51374
2,American Indian and Alaska Native,35062,35192,35310,36641,37227,38530,39719,41882,44772,45476,53149,58082
3,Asian,67022,67885,70644,72472,74105,77368,80720,83456,87243,93759,100572,106954
4,Native Hawaiian and Other Pacific Islander,52776,49378,51322,50591,52815,55607,57112,60734,61911,66464,69973,72411
5,Some other race,38230,37172,38439,39346,40865,42461,44798,47219,48983,53097,57671,63290

## Adjust for Inflation

In [16]:
for i in range(median_income.shape[0]):
    median_income.iloc[i, 1:] = median_income.iloc[i, 1:].reset_index(drop=True) * cpi_u['inflation_factor']

In [17]:
median_income

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,52480.0,51808.645295,51978.652857,52293.490009,52829.319918,54922.250674,55738.030741,56670.363185,57227.900903,59553.714891,60299.561546,59557.739482
1,Black or African American,33578.0,32206.395903,32067.226426,32588.072649,32681.31985,33620.535506,35028.766161,35789.935509,36047.273139,37410.95402,37640.149625,38278.549637
2,American Indian and Alaska Native,35062.0,34115.145671,33535.533855,34297.273299,34289.549169,35447.658522,36086.306916,37257.756984,38879.056466,38787.573413,42770.26366,43276.652003
3,Asian,67022.0,65807.759259,67093.861617,67836.35792,68257.636692,71178.677513,73337.362327,74241.520627,75759.97327,79969.304592,80932.679012,79690.972046
4,Native Hawaiian and Other Pacific Islander,52776.0,47867.062484,48742.867984,47354.967209,48647.555251,51158.52446,51888.546051,54028.28453,53762.201038,56688.743058,56308.936369,53953.129166
5,Some other race,38230.0,36034.558845,36507.289319,36829.249072,37640.487463,39064.184493,40700.782427,42005.492265,42535.799671,45287.707483,46409.224549,47157.110728

In [18]:
percentage_change_income = pd.DataFrame()

for i in range(median_income.shape[0]):
    pct = (median_income.iloc[i, 1:] - median_income.iloc[i].iloc[1]) / median_income.iloc[i].iloc[1] * 100
    percentage_change_income = pd.concat([percentage_change_income, pct], axis=1)

percentage_change_income

              0          1          2          3          4          5
2010        0.0        0.0        0.0        0.0        0.0        0.0
2011  -1.279258   -4.08483  -2.700514  -1.811705  -9.301458  -5.742718
2012  -0.955311  -4.499296   -4.35362   0.107221  -7.641981  -4.506175
2013  -0.355393  -2.948143   -2.18107   1.215061 -10.271777   -3.66401
2014   0.665625  -2.670439    -2.2031   1.843628   -7.82258  -1.542016
2015   4.653679   0.126677   1.099933    6.20196  -3.064794   2.182015
2016   6.208138   4.320585   2.921416    9.42282  -1.681548   6.462941
2017   7.984686   6.587455   6.262498  10.771867    2.37283   9.875732
2018   9.047067   7.353842  10.886591   13.03747   1.868654  11.262882
2019  13.478877  11.415075  10.625673  19.317992   7.413868  18.461176
2021  14.900079  12.097652  21.984666  20.755392    6.69421   21.39478
2022  13.486546  13.998897  23.428932  18.902707   2.230425  23.351061

In [19]:
percentage_change_income = pd.concat([median_income.iloc[:,0], percentage_change_income.T], axis=1)

In [20]:
percentage_change_income

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,0.0,-1.279258,-0.955311,-0.355393,0.665625,4.653679,6.208138,7.984686,9.047067,13.478877,14.900079,13.486546
1,Black or African American,0.0,-4.08483,-4.499296,-2.948143,-2.670439,0.126677,4.320585,6.587455,7.353842,11.415075,12.097652,13.998897
2,American Indian and Alaska Native,0.0,-2.700514,-4.35362,-2.18107,-2.2031,1.099933,2.921416,6.262498,10.886591,10.625673,21.984666,23.428932
3,Asian,0.0,-1.811705,0.107221,1.215061,1.843628,6.20196,9.42282,10.771867,13.03747,19.317992,20.755392,18.902707
4,Native Hawaiian and Other Pacific Islander,0.0,-9.301458,-7.641981,-10.271777,-7.82258,-3.064794,-1.681548,2.37283,1.868654,7.413868,6.69421,2.230425
5,Some other race,0.0,-5.742718,-4.506175,-3.66401,-1.542016,2.182015,6.462941,9.875732,11.262882,18.461176,21.39478,23.351061

In [21]:
percentage_change_income.to_csv('percentage_change_income.csv', index=False)

## Load population date

In [3]:
pop = pd.read_csv('population_races_over_years.csv')

In [4]:
pop

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,"236,475,201","238,197,491","239,645,013","240,924,897","242,169,652","243,479,179","243,538,566","244,691,364","245,860,228","246,234,076","241,836,150","241,650,046"
1,Black or African American,"42,042,735","42,533,817","43,140,238","43,624,267","44,171,261","44,655,257","45,133,880","45,789,188","46,261,485","46,713,850","47,234,227","47,859,760"
2,American Indian and Alaska Native,"5,066,812","5,120,813","5,226,034","5,252,044","5,396,560","5,431,402","5,586,703","5,631,945","5,710,410","5,665,200","8,750,904","8,551,272"
3,Asian,"17,242,278","17,673,522","18,326,450","18,913,544","19,658,736","20,416,808","20,901,780","21,646,070","22,137,269","22,371,683","23,545,238","24,207,047"
4,Native Hawaiian and Other Pacific Islander,"1,167,053","1,186,153","1,250,274","1,226,149","1,270,272","1,314,433","1,366,322","1,407,096","1,468,239","1,438,818","1,541,118","1,631,578"
5,Some other race,"16,534,492","16,396,503","16,232,503","16,474,381","16,703,187","17,051,509","18,049,903","18,346,638","18,146,776","18,214,244","53,868,002","54,089,348"

In [5]:
pop.iloc[:,1:] = pop.iloc[:,1:].applymap(lambda x: int(x.replace(',', '')))

/tmp/ipykernel_38594/3579697183.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pop.iloc[:,1:] = pop.iloc[:,1:].applymap(lambda x: int(x.replace(',', '')))

In [6]:
pop

,Label (Grouping),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,White,236475201,238197491,239645013,240924897,242169652,243479179,243538566,244691364,245860228,246234076,241836150,241650046
1,Black or African American,42042735,42533817,43140238,43624267,44171261,44655257,45133880,45789188,46261485,46713850,47234227,47859760
2,American Indian and Alaska Native,5066812,5120813,5226034,5252044,5396560,5431402,5586703,5631945,5710410,5665200,8750904,8551272
3,Asian,17242278,17673522,18326450,18913544,19658736,20416808,20901780,21646070,22137269,22371683,23545238,24207047
4,Native Hawaiian and Other Pacific Islander,1167053,1186153,1250274,1226149,1270272,1314433,1366322,1407096,1468239,1438818,1541118,1631578
5,Some other race,16534492,16396503,16232503,16474381,16703187,17051509,18049903,18346638,18146776,18214244,53868002,54089348

In [7]:
pop.to_csv('population_races_over_years_.csv')